
/.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
build/93cae48154605b2b23f957321f3fac0a.cache.dill.track.dill
*.java
/build/app/intermediates
/build/app/kotlin/compileDebugKotlin
/build/app/outputs
/build/app/tmp
/build/e34a042fbe861fee300e689943f8954a
/build/flutter_assets
/build/flutter_barcode_scanner
/build/flutter_localization
/build
test/widget_test.dart
/web
/windows
